.editor {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 85% 5% 10%;
  grid-template-areas:
    "textarea"
    ".."
    "toolkit";
}

.editor .edit-area {
  outline: 0;
  grid-area: textarea;
  max-height: 100%;
  overflow-y: scroll;
}

.editor .edit-area:empty::before {
  content: attr(placeholder);
  font-size: 1.5rem;
  color: #cbcfda;
}

.editor .edit-area:empty:focus::before {
  content: "";
}

.editor .edit-area .bold-text {
  font-weight: 700;
}

.editor .edit-area .italic-text {
  font-style: italic;
}

.editor .edit-area .header1-text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 500;
  display: block;
}

.editor .edit-area .header2-text {
  font-size: 1.2rem;
  line-height: 2.5rem;
  font-weight: 500;
  display: block;
  margin: 0;
}

.editor .toolkit {
  grid-area: toolkit;
}
.editor .toolkit > button {
  grid-area: button;
  background-color: transparent;
  border: none;
  color: #3d80ff;
  font-size: 1.1rem;
  width: 40px;
  height: 30px;
  outline: 0;
  cursor: pointer;
  opacity: 60%;
}

.editor .toolkit > button:hover {
  opacity: 100%;
}

.editor .toolkit > button img {
  align-self: center;
  justify-self: center;
  max-height: 100%;
  cursor: pointer;
}
